<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blood Requests</title>
	<link rel="stylesheet" href="Admin/blood_requests.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>RUDHIR</h2>
        <ul>
            <li><a href="/Admin/admin-home.html"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/Admin_donations.ejs"><i class="fas fa-hand-holding-medical"></i>Blood Donations</a></li>
            <li><a href="/Admin_requests.ejs"><i class="fas fa-sync-alt"></i>Blood Requests</a></li>
            <!-- <li><a href="request_history.html"><i class="fas fa-history"></i>Request History</a></li> -->
            <li><a href="/Admin_homepage.ejs"><i class="fas fa-hand-holding-medical"></i>Blood Stock</a></li>
            <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i><span style="padding-right: 10px;"></span>Logout</a></li>
        </ul> 
        
    </div>
    <div class="main_content">
        <div class="header">Blood Requests</div>  
        <div class="info">
            <div class="info">
                <table class="table">
                 <thead>
                     <tr>
                         <th>Patient Name</th>
                         <th>Age</th>
                         <th>Blood Group</th>
                         <th>Unit(in ml)</th>
                         <th>Requested Date</th>
                         <th>Status</th>
                         <th>Action</th>
                     </tr>
                 </thead>
                 <tbody style="color: black;">
                    <% for (let i = 0; i < bloodreqq.length; i++) { %>
                        <tr>
                            <td id="Name"><%= bloodreqq[i].Name %></td>
                            <td id="Age"><%= bloodreqq[i].Age %></td>
                            <td id="Bloodgrp"><%= bloodreqq[i].Bloodgrp %></td>
                            <td id="Quantity"><%= bloodreqq[i].Quantity %></td>
                            <td id="Donationdate"><%= bloodreqq[i].Requestdate %></td>
                            <td id="Status"><%= bloodreqq[i].Status %></td>
                            <td>
                                <button type="button" id="acceptButton" style="color:black;background-color:rgb(56, 200, 56) ; border-radius: 15px; padding: 5px;" onclick="requestEntry(<%= i %>)" >Accept</button>
                                <button type="button" style="color:black;background-color:red; border-radius: 15px; padding: 5px;"  onclick="requestreject(<%= i %>)">Reject</button>
                            </td>
                            
                        </tr>
                        <% } %>
                 </tbody>
                </table>
           </div>
      </div>
    </div>
</div>
<script>
    function requestEntry(i) {
        // Send 'i' to admin.js using an AJAX request
        fetch('/requestaccept', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ i: i })
        })
        .then(response => {
            if (response.status === 200) {
                // Handle success, e.g., show a message to the user
                alert('Accepted successfully!');
            } else {
                // Handle errors, e.g., show an error message
                alert('Acceptance failed.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
        location.reload()
    }
    function requestreject(i) {
        // Send 'i' to admin.js using an AJAX request
        fetch('/requestreject', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ i: i })
        })
        .then(response => {
            if (response.status === 200) {
                // Handle success, e.g., show a message to the user
                alert('Accepted successfully!');
            } else {
                // Handle errors, e.g., show an error message
                alert('Acceptance failed.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
        location.reload()
    }
    </script>
</body>
</html>